flow.json
[{"id":"c41468d8.5db268","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"42fc20e.796996","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"18f90df0.2da9d2","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"b4770f97.773f4","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"fbc8b6f8.914268","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"bd521956.7de648","type":"mqtt-broker","name":"aedes enrique","broker":"enriquecrespo.com","port":"1884","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e36406f2.8ef798","type":"inject","z":"c41468d8.5db268","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":170,"y":440,"wires":[["c3c50023.3bbed"]]},{"id":"c3c50023.3bbed","type":"http request","z":"c41468d8.5db268","name":"Recent Quakes","method":"GET","paytoqs":"ignore","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_month.csv","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":440,"wires":[["8afc6cac.e0812","30ca3761.5ab1b8"]]},{"id":"8afc6cac.e0812","type":"csv","z":"c41468d8.5db268","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"strings":true,"include_empty_strings":false,"include_null_values":false,"x":510,"y":440,"wires":[["44779781.4190f8","6f0eb546.9e208c"]]},{"id":"44779781.4190f8","type":"debug","z":"c41468d8.5db268","name":"Payload1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":440,"wires":[]},{"id":"6f0eb546.9e208c","type":"switch","z":"c41468d8.5db268","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":500,"wires":[["d78d4aa8.8c8208"]]},{"id":"d78d4aa8.8c8208","type":"change","z":"c41468d8.5db268","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":560,"wires":[["72fddece.fac0d"]]},{"id":"72fddece.fac0d","type":"debug","z":"c41468d8.5db268","name":"Payload2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":500,"wires":[]},{"id":"30ca3761.5ab1b8","type":"debug","z":"c41468d8.5db268","name":"CSV","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":260,"wires":[]},{"id":"58ffae9d.a7005","type":"debug","z":"42fc20e.796996","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":180,"wires":[]},{"id":"17626462.e89d9c","type":"inject","z":"42fc20e.796996","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":200,"y":180,"wires":[["2921667d.d6de9a"]]},{"id":"2921667d.d6de9a","type":"function","z":"42fc20e.796996","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":180,"wires":[["58ffae9d.a7005"]]},{"id":"cbf5bb68.5ca698","type":"mqtt in","z":"18f90df0.2da9d2","d":true,"name":"MQTT a Casa Enrique","topic":"aprendiendonodered21/enrique/m5stick/enrique/temperatura","qos":"2","datatype":"auto","broker":"bd521956.7de648","nl":false,"rap":true,"rh":0,"x":200,"y":340,"wires":[["5d06a594.e7ca24"]]},{"id":"5d06a594.e7ca24","type":"debug","z":"18f90df0.2da9d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":520,"y":340,"wires":[]},{"id":"463c688c.ec342","type":"mqtt in","z":"18f90df0.2da9d2","d":true,"name":"MQTT a Casa Enrique","topic":"aprendiendonodered21/enrique/m5stick/enrique/presion","qos":"2","datatype":"auto","broker":"bd521956.7de648","nl":false,"rap":true,"rh":0,"x":200,"y":460,"wires":[["5d06a594.e7ca24"]]},{"id":"8ac8b38d.1da8e8","type":"mqtt out","z":"18f90df0.2da9d2","d":true,"name":"","topic":"aprendiendonodered21/Inigo","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"bd521956.7de648","x":560,"y":520,"wires":[]},{"id":"2f7e78d2.d085b","type":"inject","z":"18f90df0.2da9d2","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"mqttout","payload":"Muchas gracias","payloadType":"str","x":210,"y":560,"wires":[["8ac8b38d.1da8e8"]]},{"id":"f9c23d23.c8c24","type":"exec","z":"18f90df0.2da9d2","command":"vcgencmd measure_temp","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Raspberry CPU Temperature","x":380,"y":180,"wires":[["a0ad4644.0efbf8"],[],[]]},{"id":"a0ad4644.0efbf8","type":"function","z":"18f90df0.2da9d2","name":"Extract CPU Temp","func":"const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":160,"wires":[["8317134.cff18f"]]},{"id":"a97d78fc.40c268","type":"inject","z":"18f90df0.2da9d2","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":180,"wires":[["f9c23d23.c8c24"]]},{"id":"8317134.cff18f","type":"debug","z":"18f90df0.2da9d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":860,"y":160,"wires":[]},{"id":"72ddd8de.efbd98","type":"mqtt in","z":"18f90df0.2da9d2","name":"MQTT a Casa Enrique","topic":"aprendiendonodered21/vuelos/altitude","qos":"2","datatype":"auto","broker":"bd521956.7de648","nl":false,"rap":true,"rh":0,"x":220,"y":260,"wires":[["5d06a594.e7ca24"]]},{"id":"5cfc6ea7.209448","type":"rbe","z":"b4770f97.773f4","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":730,"y":320,"wires":[["3d617128.84cea6"]]},{"id":"9d8a78a2.901fc8","type":"mqtt in","z":"b4770f97.773f4","name":"MQTT a Casa Enrique","topic":"aprendiendonodered21/enrique/m5stick/enrique/temperatura","qos":"2","datatype":"auto","broker":"bd521956.7de648","nl":false,"rap":true,"rh":0,"x":120,"y":220,"wires":[["1c900c8d.b3f07b"]]},{"id":"3d617128.84cea6","type":"debug","z":"b4770f97.773f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"1c900c8d.b3f07b","type":"switch","z":"b4770f97.773f4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"22","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":320,"wires":[["7189a02.807d4e"],["2efd7539.815e42"]]},{"id":"7189a02.807d4e","type":"change","z":"b4770f97.773f4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Valor Normal\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":280,"wires":[["5cfc6ea7.209448"]]},{"id":"2efd7539.815e42","type":"change","z":"b4770f97.773f4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Valor Alto\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["5cfc6ea7.209448"]]},{"id":"58fb99b.ab151e8","type":"debug","z":"fbc8b6f8.914268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"b0e95df8.f0375","type":"mqtt in","z":"fbc8b6f8.914268","name":"MQTT Aedes de Enrique","topic":"#","qos":"2","datatype":"auto","broker":"bd521956.7de648","nl":false,"rap":true,"rh":0,"x":120,"y":160,"wires":[["58fb99b.ab151e8"]]},{"id":"fb4a3403.8a235","type":"aedes broker","z":"fbc8b6f8.914268","name":"","mqtt_port":"1884","mqtt_ws_bind":"port","mqtt_ws_port":"","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":200,"y":340,"wires":[["b31fc4e9.44881"]]},{"id":"b31fc4e9.44881","type":"debug","z":"fbc8b6f8.914268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":340,"wires":[]}]